<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="g_style.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Gallery</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="gallery.html" class="active">Gallery</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="gallery">
        <div class="container">
            <h2>Our Gallery</h2>
            <div class="gallery-images">
                <img src="pexels-photo-10015425.webp" alt="Image 1">
                <img src="pexels-photo-904355.jpeg" alt="Image 2">
                <img src="shutterstock_124871620.webp" alt="Image 3">
                <img src="L2R4856-1366x768.jpg" alt="Image 4">
                <img src="delhi.png" alt="Image 5">
                <img src="shutterstock_124871620.webp" alt="Image 6">
                <!-- Add more images here -->
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Gallery</p>
        </div>
    </footer>
</body>
</html>
