{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'css/l_style.css' %}">

</head>
<div class="main">
<img src="{% static 'images/laun.avif' %}" alt="">
<div class="f">
    <h3>Welcome Back !!!</h3>
    <h5>We missed you a lot  !!!</h5>
    <form action="" method="post">
        {% csrf_token %}
        <input type="username" name="Name"  class="box" placeholder="Enter yours name">
    <!-- <label for="Username">Username:</label>
    <input type="Enter Username">
    <br> -->
    
        <input type="password" name="Password" class="box" placeholder="Enter your password">
        <input type="number" name="TenderId" class="box" placeholder="Tender ID">
        <input type="text" name="Title" class="box" placeholder="Title">
        <h6>Publish date</h6>
        <input type="date" name="Date" class="box" placeholder="Published ">
        <h6>Deadline Date</h6>
        <input type="date" name="Deadline" class="box" placeholder="Deadline">
        <input type="text" name="Status" class="box" placeholder="Status in OK or Not">
        <input type="submit" value="Login In" id="submit">
    
    </form>
    {% comment %} <a href="" id="for">Forget Password ???</a> {% endcomment %}

    
   
</div>

</div>

<body>
    
</body>
</html>