{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/l_style.css' %}">

</head>
<div class="main">
<img src="{% static 'images/laun.avif' %}" alt="">
<div class="f">
    <h3>Welcome Back !!!</h3>
    <h5>We missed you a lot  !!!</h5>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="username" name="username"  class="box" placeholder="Enter yours name">
    <!-- <label for="Username">Username:</label>
    <input type="Enter Username">
    <br> -->
    
    <input type=" password" name="password" class="box" placeholder="Enter your password">

    <input type="Submit" value="Login In" id="submit">
    
    </form>
    <a href="" id="for">Forget Password ???</a>

    
   
</div>

</div>

<body>
    
</body>
</html>